<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.whitecrescent.waqti">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".android.App"
        android:allowBackup="true"
        android:icon="@mipmap/waqti_icon"
        android:label="@string/waqti"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:label">
        <activity
            android:name=".android.MainActivity"
            android:label="@string/waqti"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>